@font-face {
  font-family: 'opensans-regular';
  src: url('../fonts/OpenSans-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'opensans-light';
  src: url('../fonts/OpenSans-Light.ttf') format("truetype");
}

:root {
    --primary-color: #AEADF0;
	--light-accent-color: #F9ADA0;
    --accent-color: #F9627D;
	--dark-primary-color: #C65B7C;
    --dark-accent-color: #5B3758;
}

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    background-color: var(--primary-color);
}

#header {
    height: 9vh;
    background-color: var(--accent-color);
}

ul {
    list-style-type: none;
}

li:hover {
    transform: scale(1.1);
    font-weight: bold;
    color: var(--dark-accent-color);
}

.song {
}

.score {
    width: 90%;
    font-family: 'opensans-light', sans-serif;
    font-size: medium;
    padding-left: 10%;
    border: solid var(--accent-color);
    border-width: 0 1px;
}

.stats {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--dark-accent-color)
}

.innerContent {
    padding: 10px;
}

/* Columns appearance */
.songColumn {
    width: 30%;
    height: 90vh;
}

.scoreColumn {
    width: 15%;
    height: 90vh;
}

.buttonColumn {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Appearance of the central buttons */

.btnPlaceholder {
    padding: 20%;
    margin: 10% 30%;
    border: none;
    border-radius: 50%;
    background-color: var(--accent-color);
    font-size: 0;
}

.btn {
    margin: 20% 30%;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    outline: none;
    font-family: "opensans-light", sans-serif;
    color: var(--dark-accent-color);
}

.btnWrapper {
    width: 100%;
}

.btn {
    display: none;
}

.btnWrapper:hover .btnPlaceholder {
    display: none;
}

.btnWrapper:hover .btn {
    display: block;
    cursor: pointer;
}

/* Song appearance */
.title {
    text-transform: uppercase;
    font-family: 'opensans-regular', sans-serif;
    font-size: xx-large;
    color: var(--dark-accent-color);
}

.artist {
    text-transform: uppercase;
    font-family: 'opensans-regular', sans-serif;
    font-size: x-large;
    color: var(--dark-accent-color);
}

.lyrics {
    font-family: 'opensans-light', sans-serif;
    font-size: medium;
    color: black;
    max-height: 60vh;
    overflow: auto;
    margin-top: 20px;
}

/* Hide scrollbars - only for Chrome */
::-webkit-scrollbar {
    display: none;
}
