@font-face {
  font-family: 'opensans-regular';
  src: url('../fonts/OpenSans-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'opensans-light';
  src: url('../fonts/OpenSans-Light.ttf') format("truetype");
}

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    background-color: #3AAFA9;
}

ul {
    list-style-type: none;
}

li:hover {
    transform: scale(1.1);
}

.song {
}

.score {
    font-family: 'opensans-light', sans-serif;
    font-size: medium;
    padding-left: 15px;
}

.innerContent {
    padding: 10px;
}

/* Columns appearance */
.songColumn {
    width: 30%;
    height: 100vh;
}

.scoreColumn {
    width: 15%;
    height: 100vh;
}

.buttonColumn {
    width: 10%;
    height: 100vh;
}

/* Song appearance */
.title {
    padding: 5px;
    text-transform: uppercase;
    font-family: 'opensans-regular', sans-serif;
    font-size: xx-large;
    color: white;
    background-color: #2B7A78;
}

.artist {
    padding: 5px;
    text-transform: uppercase;
    font-family: 'opensans-regular', sans-serif;
    font-size: x-large;
    color: white;
    background-color: #2B7A78   ;
}

.lyrics {
    font-family: 'opensans-light', sans-serif;
    font-size: medium;
    color: black;
    max-height: 60vh;
    overflow: auto;
    margin-top: 20px;
}

/* Hide scrollbars - only for Chrome */
::-webkit-scrollbar {
    display: none;
}
