<!DOCTYPE html>

<html>
    <body style="height: 100%">
        <script type="text/javascript">
            {% if better %}
            betterArtist = "{{ better.song.artist|escapejs }}";
            betterTitle = "{{ better.song.title|escapejs }}";
            betterRhymeScore = "Rhymes: {{ better.rhyme_score|floatformat:'2' }}";
            {% endif %}

            {% if worse %}
            worseArtist = "{{ worse.song.artist }}";
            worseTitle = "{{ worse.song.title }}";
            worseRhymeScore = "Rhymes: {{ worse.rhyme_score|floatformat:'2' }}";
            {% endif %}

            function showWorseSong() {
                document.getElementById("artist").innerHTML = worseArtist;
                document.getElementById("title").innerHTML = worseTitle;
                document.getElementById("rhymeScore").innerHTML = worseRhymeScore;
                document.getElementById("comparisonLyrics").style.display = "inline-block";
                document.getElementById("comparisonScore").style.display = "inline-block";
            }

            function showBetterSong() {
                document.getElementById("artist").innerHTML = betterArtist;
                document.getElementById("title").innerHTML = betterTitle;
                document.getElementById("lyrics").innerHTML = "{{ better.song.lyrics|linebreaks|escapejs }}";
                document.getElementById("rhymeScore").innerHTML = betterRhymeScore;
                document.getElementById("comparisonLyrics").style.display = "inline-block";
                document.getElementById("comparisonScore").style.display = "inline-block";
            }
        </script>

        <div id="songView" style="height: 100vh">
            <table width="100%" height="100">
                <tr>
                    <td style="width: 30%; height: 100vh; background-color: cyan">
                        <div id="song-lyrics">
                            <h3>Song <i>{{ score.song.title}}</i></h3>
                            <h4>by <i>{{ score.song.artist }}</i></h4>
                            <p><b>Lyrics:</b></p>
                            <div style="height: 100vh; overflow: auto">{{ score.song.lyrics|linebreaks }}</div>
                        </div>
                    </td>

                    <td style="width: 15%; background-color: crimson">
                        <div id="song-score">
                            <p><b>These are the calculated scores:</b></p>
                            <ul>
                                <li>Rhymes: {{ score.rhyme_score|floatformat:'2' }}</li>
                            </ul>
                        </div>
                    </td>

                    <td style="width: 10%; background-color: coral">
                        <div id="buttons">
                            <button id="betterButton" type="button" onclick="showBetterSong()">Better</button>
                            <button type="button" onclick="showWorseSong()">Worse</button>
                        </div>
                    </td>

                    <td style="width: 15%; background-color: cadetblue">
                        <div id="comparisonScore" style="display:none">
                            <p><b>These are the computed scores:</b></p>
                            <ul>
                                <li id="rhymeScore"></li>
                            </ul>
                        </div>
                    </td>

                    <td style="width: 30%; height: 100vh; background-color: antiquewhite">
                        <div id="comparisonLyrics" style="display:none">
                            <h3 id="title"></h3>
                            <h4 id="artist"></h4>
                            <p><b>Lyrics:</b></p>
                            <div id="lyrics" style="height: 100vh; overflow: auto"></div>
                        </div>
                    </td>

                </tr>
            </table>
        </div>
    </body>
</html>