<!DOCTYPE html>

<html>
    <head>
        <title>Song comparison</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'comparison/evaluate_lyrics.css' %}">
    </head>

    <body>
        <script type="text/javascript">
            var names = [];
            var titles = [];
            var lyrics = [];
            var rhymeScores = [];
            var tfidfScores = [];
            var rhymeAvgs = [];
            var tfidfAvgs = [];

            {% for l in comparison_lyrics %}
                lyrics.push("{{ l|safe|linebreaks|escapejs }}");
            {% endfor %}

            {% for artist in artists %}
                {% if artist.3 %}
                    names.push("{{ artist.0|escapejs }}");
                    titles.push("{{ artist.2.song.title|escapejs }}");
                    rhymeScores.push("{{ artist.2.rhyme_score|floatformat:'2' }}");
                    tfidfScores.push("{{ artist.2.tfidf_score|floatformat:'2' }}");
                    rhymeAvgs.push("{{ artist.0.rhyme_score_avg|floatformat:'2' }}");
                    tfidfAvgs.push("{{ artist.0.tfidf_score_avg|floatformat:'2' }}");
                {% else %}
                    names.push(null);
                    titles.push(null);
                    rhymeScores.push(null);
                    tfidfScores.push(null);
                    rhymeAvgs.push(null);
                    tfidfAvgs.push(null);
                {% endif %}
            {% endfor %}


            function showSong(i) {
                i = i-1;
                document.getElementById("artist").innerHTML = names[i];
                document.getElementById("title").innerHTML = titles[i];
                document.getElementById("lyrics").innerHTML = lyrics[i];
                document.getElementById("rhymeScore").innerHTML = rhymeScores[i];
                document.getElementById("tfidfScore").innerHTML = tfidfScores[i];
                document.getElementById("avgRhymeScore").innerHTML = rhymeAvgs[i];
                document.getElementById("avgTfidfScore").innerHTML = tfidfAvgs[i];
                document.getElementById("comparisonLyrics").style.display = "inline-block";
                document.getElementById("comparisonScore").style.display = "inline-block";
            }
        </script>

        <div id="header"></div>
        <div id="songView">
            <table style="width: 80vw; margin: auto">
                <tr>
                    <td class="songColumn">
                        <div id="songLyrics" class="song">
                                <div class="innerContent">
                                <h3 class="title">{{ score.song.title}}</h3>
                                <h4 class="artist">{{ score.song.artist }}</h4>
                                <div class="lyrics">{{ lyrics|safe|linebreaks }}</div>
                            </div>
                        </div>
                    </td>

                    <td class="scoreColumn">
                        <div id="songScore" class="score">
                            <div class="innerContent">
                                <ul>
                                    <li>rhymes: {{ score.rhyme_score|floatformat:'2' }}</li>
                                    <li>tf-idf: {{ score.tfidf_score|floatformat:'2' }}</li>
                                </ul>
                            </div>
                        </div>
                    </td>

                    <td class="buttonColumn">
                        {% for artist in artists %}
                            {% if artist.3 %}
                                <div class="btnWrapper">
                                    <button class="btnPlaceholder {{ artist.1 }}" type="button"></button>
                                    <button class="btn" type="button" onclick="showSong({{ forloop.counter }})">{{ artist.0 }} ({{ artist.1 }})</button>
                                </div>
                            {% else %}
                                <div class="origSong">
                                    <p>Here is your song</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </td>

                    <td class="scoreColumn">
                        <div id="comparisonScore" class="score" style="display:none">
                            <div class="innerContent">
                                <div class="stats">Artist stats:</div>
                                <ul>
                                    <li id="avgRhymeScore"></li>
                                    <li id="avgTfidfScore"></li>
                                </ul>
                            </div>
                            <div class="innerContent">
                                <div class="stats">Song stats:</div>
                                <ul>
                                    <li id="rhymeScore"></li>
                                    <li id="tfidfScore"></li>
                                </ul>
                            </div>
                        </div>
                    </td>

                    <td class="songColumn">
                        <div id="comparisonLyrics" class="song" style="display:none">
                            <div class="innerContent">
                                <h3 class="title" id="title"></h3>
                                <h4 class="artist" id="artist"></h4>
                                <div class="lyrics" id="lyrics"></div>
                            </div>
                        </div>
                    </td>

                </tr>
            </table>
        </div>
    </body>
</html>